input {
    keyboard {
        xkb {
            layout "jp"
        }
    }
}

layout {
    gaps 8
}

binds {
    Mod+T { spawn "alacritty"; }

    Mod+D { spawn "fuzzel"; }

    Mod+Q { close-window; }

    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }

    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }

    Mod+Shift+E { quit; }
}
